/* You can add global styles to this file, and also import other style files */
body {
    background-color: #152349; /* Dark background color */
    color: #FFD700; /* Text color - gold/yellow for contrast */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

html {
    height: 100%;
}